# Ignore certificate files
intermediate.crt*
webpac.crt*

# Scripts & directories that may be needed by local processes
scopes.sh
buildpages

# Symbolic links that may be needed by local processes
missingCallno
inprocess
subjectJournals
wr
new_wr
nt
subjectNewTitle

# Backup directory of staging/screens directory. Keep this while we're working
# on the new example site. 
_stagingScreensBackup-2012-12-03

# Copies of downloaded files for local testing
local
