# System files not in the example set 
# See http://csdirect.iii.com/documentation/screens.shtml for a complete list
intermediate.crt*
webpac.crt*
webpub*
forward
wam_filter
wam_ip_unverified
wam_ip_verified
webproxy.patterns

# Scripts & directories that may be needed by local processes
scopes.sh
buildpages

# Symbolic links that may be needed by local processes
missingCallno
inprocess
subjectJournals
wr
new_wr
nt
subjectNewTitle

# Backups of local certificate? Still needed?
entrustL1Bchain.crt.*
intermediate.ca.*

# Backup directory of staging/screens directory. Keep this while we're working
# on the new example site. 
_stagingScreensBackup-2012-12-03
