/* CSS for ProQuest 360 Core E-Journal Portal 2.0 */
#carletonu-topmenu-wrapper {
  height: 40px;
  background: #1a1a1a none repeat scroll 0 0;
  border-bottom: 3px solid #ccc;
  color: white;
}
#carletonu-topmenu-wrapper a {
  color: #fff;
}

#carletonu-topmenu-right {
  float: right;
}
#carletonu-topmenu-wrapper ul {
  margin: 0.8rem 0.8rem 0.6rem 0.6rem;
  padding: 0rem;
  list-style: none;
}
#carletonu-topmenu-wrapper ul > li {
  padding: 0rem 0.6rem;
  float: left;
  position: relative;
}
#carletonu-header {
  padding: 10px 0 0 60px;
}
#carletonu-header a {
  color: black;
}
#carletonu-logo {
  float: left;
  height: 1px;
  margin-right: 0.3rem;
  padding-bottom: 0;
  text-align: center;
}
#carletonu-logo img {
  width: 60px;
  padding-top: 5px;
  vertical-align: bottom;
}
#carletonu-header hgroup {
  float: left;
  clear: right;
}
#carletonu-header hgroup h1,
#carletonu-header hgroup h2 {
  margin: 0;
}
#carletonu-header hgroup h1 {
  margin-bottom: .2em;
}
#carletonu-header hgroup h2 {
  font-size: 24px;
}
#carletonu-help {
  padding: 30px 30px 0 80px;
}
h1.search-page-header {
  display: none; /* suppress disappearing title */
}
